.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1540px;
    height: 60px;
    padding: 0 10px;
    background-color: #000;
    color: #fff;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
}

.header-nav-item a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.header-logout {
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

main {
    background-color: #eaeaea;
    min-height: calc(100vh - 60px);
}

.content {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0px 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.title {
    padding-left: 10px;
    border-left: 5px solid #000;
    text-align: left;
}